<div class="application-progress-bar">
  <a [ngClass]="{'progress-bar-item': true, 'active': pathIs('/characteristics')}" (click)="saveAndNavigate('/characteristics')">
    1
    <br /> Personal Info
  </a>
  <a [ngClass]="{'progress-bar-item': true, 'active': pathIs('/phone_numbers')}" (click)="saveAndNavigate('/phone_numbers')">
      2
      <br /> Phone Numbers
    </a>
  <div class="progress-bar-item">
    3
    <br /> Citizenship Info
  </div>
  <div class="progress-bar-item">
    4
    <br /> Driver's License
  </div>
  <div class="progress-bar-item">
    5
    <br /> Vehicle Info
  </div>
  <div class="progress-bar-item">
    6
    <br /> Address History
  </div>
  <div class="progress-bar-item">
    7
    <br /> Employment History
  </div>
  <div class="progress-bar-item">
    8
    <br /> Travel History
  </div>
  <div class="progress-bar-item">
    9
    <br /> Additional Info
  </div>
  <div class="progress-bar-item">
    10
    <br /> APEC Business Travel Card
  </div>
  <div class="progress-bar-item">
    11
    <br /> Final Review
  </div>
</div>
